<section class="card entry-item">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-xs-right">
        <%= favorite entry %>
      </div>
    </div>
  </div>
  <div class="row space">
    <div class="col-xs-12">
      <h2 class="text-xs-center break-word">
        <%= link_to entry.title, journal_entry_path(entry.journal, entry) %>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-xs-center">
      <small class="text-muted">
        Written at <%= created_time_of entry %>
      </small>
    </div>
  </div>
  <div class="row space-2x">
    <div class="col-xs-12">
      <div class="break-word text-justify">
        <blockquote>
          <%= short_text entry.body %>
        </blockquote>
      </div>
    </div>
  </div>
</section>
