<% content_for :back_link do %>
<%= back_link journal_entry_path(@entry.journal, @entry) %>
<% end %>
<% content_for :create_entry do %>
<%= create_entry_nav_link @entry.journal %>
<% end %>
<section class="container">
  <div class="col-xs-12">

    <%= render 'form', journal: @entry.journal ,entry: @entry %>

  </div>
</section>
