<section class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <% @entries.each do |entry| %>
      <%= render 'entries/entry_item', entry: entry %>
      <% end %>
    </div>
  </div>
</section>
