<% content_for :back_link do %>
<%= back_link journal_entries_path(@journal, @entry) %>
<% end %>

<section class="container">
  <div class="col-xs-12">

    <%= render 'form', journal: @journal ,entry: @entry %>

  </div>
</section>
