<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="query lead text-xs-center">Entries found for your search</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% if @results.empty? %>
      <p class="text-xs-center">No results where found
        <%= emojione ':confused:' %></p>
    <% else %>
      <% @results.each do |entry|  %>
      <%= render 'entries/entry_item', entry: entry %>s
      <% end %>
      <% end %>
    </div>
  </div>
</section>
