<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= link_to mdi('twitter', t('.sign_in_with', provider: 'Twitter')), omniauth_authorize_path(resource_name, :twitter),
    class: 'btn btn-lg btn-xs-block btn-twitter' %>
  </div>
  <div class="col-xs-12 col-md-4">
    <%= link_to mdi('facebook', t('.sign_in_with', provider: 'Facebook')), omniauth_authorize_path(resource_name, :facebook),
    class: 'btn btn-lg btn-xs-block btn-facebook space-xs' %>
  </div>
  <div class="col-xs-12 col-md-4">
    <%= link_to mdi('google', t('.sign_in_with', provider: 'Google')), omniauth_authorize_path(resource_name, :google_oauth2),
    class: 'btn btn-lg btn-xs-block btn-google space-xs' %>
  </div>
</div>
