<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-xs-center text-orange">Welcome to Euthymia</h1>
    </div>
  </div>
  <p class="lead text-xs-center text-red">Beacuse knowing your emotions matters</p>
</div>
