<% content_for :back_link do %>
<%= back_link journals_path %>
<% end %>
<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-xs-center"><%= t('.title', name: @journal.title) %></h1>
    </div>
  </div>
  <div class="row space">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <%= render 'form', journal: @journal %>
    </div>
  </div>
</section>
