.entry-item {
  padding: 2rem;
  background-color: lighten($gray-lighter, 5%);
}

.heart {
  color: $brand-red;

}

.heart:hover, .heart:active {
  color: $brand-orange;
}

.card {
  border: 2px solid lighten($gray-light, 15%);
}

.emotions_collpsable {
  border: 2px solid lighten($gray-light, 15%);
  padding: 0.25rem 1rem;
  border-radius: 4px;
}

.progress-alternative[value]::-webkit-progress-value {
  background-color: #9B59B6 !important;
}

.progress-alternative[value]::-moz-progress-value {
  background-color: #9B59B6 !important;
}
