h1, h2, h3, h4, h5, h6, p.lead {
  font-family: 'Quicksand', sans-serif;
}

p:not(p > .readable-text), span, div {
  font-family: 'Lato', sans-serif;
}

.readable-text {
  font-family: 'Merriweather', 'Lato', sans-serif !important;
}
