header {
  margin-bottom: 40px;
}

.space {
  margin-top: 1rem;
}

.space-2x {
  margin-top: 2rem;
}

.space-3x {
  margin-top: 3rem;
}

.space-bottom {
  margin-bottom: 1rem;
}

.space-bottom-2x {
  margin-bottom: 2rem;
}

.space-bottom-3x {
  margin-bottom: 3rem;
}

section.container {
  padding-bottom: 2rem;
}

/**
  Buttons
**/

@media (max-width: 767px) {
  .btn-xs-block {
    width: 100%;
  }
}

/**
  Dropdowns
**/

.dropdown-item {
  cursor: pointer;
}


.text-orange {
  color: $brand-orange;
}

.text-red {
  color: $brand-red;
}
