$colDefault: #ff9068;
$colHighlight: #fd746c;
$background-color: $nav-color;

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
  color: $white;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .open > .nav-link:focus,
.navbar-light .navbar-nav .open > .nav-link:hover,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .active > .nav-link:focus,
.navbar-light .navbar-nav .active > .nav-link:hover,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.open:focus,
.navbar-light .navbar-nav .nav-link.open:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:focus,
.navbar-light .navbar-nav .nav-link.active:hover  {
  color: $white;
}

.navbar-light {
  border-bottom: 2px solid $colHighlight;
  background-color: $colDefault;
}

@media (max-width: 62em) {
  .navbar-nav {
    padding-top: .425rem;
    padding-left: 0.75rem;
  }
  .navbar-nav .nav-item {
    float: none;
  }
  .navbar-brand {
    float: right;
  }
  .navbar-brand,
  .navbar-nav .nav-item {
    display: block;
  }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
  .dropdown-menu {
    position: relative;
    float: none;
  }

  .xs-dropdown {
    width: 100%;
    background-color: $nav-color;
    border: none;
    color: $white;
  }

  .xs-dropdown:hover {
    background-color: darken($nav-color, 10%);
    color: $white;
  }

  .dropdown-item {
    color: $white;
  }
  .dropdown-item:hover, .dropdown-item:active {
    color: $gray-dark;
  }
  .navbar-toggler {
    outline: none;
    color: $white;
  }
}
