.turbolinks-progress-bar {
  height: 2px;
  background-color: none;
  background: #fd746c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fd746c , #ff9068); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fd746c , #ff9068); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0px 1px 2px 0px rgba(255,144,104,1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(255,144,104,1);
  box-shadow: 0px 1px 2px 0px rgba(255,144,104,1);
}
