.search-input, .btn-search {
  border: none;
  border-bottom: 2px solid $brand-orange;
  border-radius: 0;
}

.search-input:hover, .btn-search:hover, .search-input:focus, .btn-search:focus {
  border: none;
  border-bottom: 2px solid $brand-red;
  border-radius: 0;
}

.btn-search {
  color: $brand-orange;
}

.btn-search:hover, .btn-search:active, .btn-search:focus {
  background-color: $brand-red;
  color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
