<form class="form-inline pull-md-right pull-lg-left" action="<%= search_path %>" method="get">
  <div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-secondary btn-search" type="submit">
        <i class="mdi mdi-magnify"></i></button>
    </span>
     <input type="text" name="q" class="form-control search-input" placeholder="<%= t('navbar.search') %>">
   </div>
</form>
